:root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  text-align: center;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #660033;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}